<%- include  ( "partials/navbar") %>


<div class="container">

<a   style="color:black !important;"  href="/adminqa/questionauth">Question verification</a>
<a style="color:black !important;"  href="/adminqa/answerauth">answer verification</a>

</div>
<%- include  ( "partials/footer") %>
