<%- include  ( "partials/navbar") %>

<div class="container">


<br><br><br>
<h4 style="color:#54457F" align="center">
    <blockquote><strong>Anyone wants to contribute can contact us.We will be glad to work with you.</strong>

  </h4>


</div>
<%- include  ( "partials/footer") %>

